/*
記事関連のCSS
*/

@import "./define.css";

.article-list {
  width: auto;
  height: auto;
  margin: calc(var(--foo-main-font-size) * 2);
  background-color: var(--text-background-color);
}

.article-title {
  font-weight: bold;
  font-size: 20px;
  font-size: calc(var(--foo-main-font-size) * 2);
  text-align: center;
  margin: 1rem;
}

.md-header {
  font-weight: bold;
  font-size: calc(var(--foo-main-font-size) * 0.8);
  padding: calc(var(--foo-main-font-size) * 2);
  margin-bottom: calc(var(--foo-main-font-size) * 2);
  background-color: var(--text-background-color);
  margin-left: var(--foo-main-font-size);
  margin-right: var(--foo-main-font-size);
}

#articl-tag {
  padding-right: var(--foo-main-font-size);
  margin-right: var(--foo-main-font-size);
  text-transform: none;
  border-width: 1px;
  border-color: var(--foo-img-border-color);
  border-style: solid;
  font-size: calc(var(--foo-main-font-size) * 0.8);
  background-color: var(--text-background-color);
}

.md-main {
  background-color: var(--text-background-color);
  line-height: 1.5;
  padding: calc(var(--foo-main-font-size) * 2);
  font-size: var(--foo-main-font-size);
  padding-top: var(--foo-main-font-size);
  margin-left: var(--foo-main-font-size);
  margin-right: var(--foo-main-font-size);
  overflow-wrap: anywhere !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: solid;
  border-bottom-width: calc(var(--foo-main-font-size) * 0.1);
  padding-top: var(--foo-main-font-size);
  padding-bottom: calc(var(--foo-main-font-size) * 0.5);
  margin-bottom: var(--foo-main-font-size);
  margin-top: var(--foo-main-font-size);
}

h1 {
  font-size: calc(var(--foo-main-font-size) * 2);
  border-bottom-width: calc(var(--foo-main-font-size) * 0.3);
}

h2 {
  font-size: calc(var(--foo-main-font-size) * 1.8);
}

h3 {
  font-size: calc(var(--foo-main-font-size) * 1.6);
}

h4 {
  font-size: calc(var(--foo-main-font-size) * 1.4);
}

h5 {
  font-size: calc(var(--foo-main-font-size) * 1.2);
}

h6 {
  font-size: calc(var(--foo-main-font-size) * 1);
  border-bottom-width: 0;
}

/* TODO: このあたりのCSSはあとで整理 */
table,
td,
th {
  border: 3px #0f1419 solid;
  border-collapse: collapse;
  padding: calc(var(--foo-main-font-size) * 0.5);
}

table {
  margin: 2rem 0 20px;
  table-layout: fixed;
}

th {
  background-color: #dcdcdc;
  font-weight: bold;
}

ul {
  padding-left: 20px;
}
