/*
カード関連のCSS
*/

@import "./define.css";

.v-card {
  position: center;
  margin: var(--foo-main-font-size);
}

#card-img {
  height: 100px;
  border-radius: 50%;
  background-image: url("image.jpg");
  background-position: 54% 36%;
  margin: 1rem;
  border-width: 1px;
  border-color: var(--foo-img-border-color);
  border-style: solid;
}

#profile-card {
  margin: none 16px 16px;
}
