/*
メインCSS
*/

@import "./define.css";
@import "./card.css";
@import "./article.css";

img {
  max-width: 100%;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

.main-img {
  max-width: auto;
}

.v-main {
  z-index: 1;
  margin-top: calc(var(--foo-main-font-size) * 2);
  width: auto;
  background-color: var(--foo-default-background-color);
}

#main-col {
  background-color: var(--foo-default-background-color);
  width: auto;
  margin-left: var(--foo-main-font-size);
  margin-right: var(--foo-main-font-size);
}

#side-col {
  display: flex;
  align-items: center;
}

#side-col-components {
  display: flex;
  align-items: center;
}

.v-row {
  width: auto;
}

.v-footer {
  padding-top: 10rem;
  min-width: auto;
  max-height: 50px;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
