/*
メインCSS
*/

@import url("./define.css");
@import url("./card.css");
@import url("./article.css");


#app {
  margin: 0 auto;
  font-weight: normal;
}

.v-main {
  z-index: 1;
  margin-top: calc(var(--main_font_size) * 2);
  width: auto;
  background-color: var(--default_background_color);

}

#main_col {
  background-color: var(--default_background_color);
  width: auto;
  margin-left: var(--main_font_size);
  margin-right: var(--main_font_size);
}

#side_col {
  display: flex;
  align-items: center;
}

#side_col_components {
  display: flex;
  align-items: center;
}

.v-row {
  width: auto;
}

.v-footer {
  padding-top: 10rem;
  min-width: auto;
  max-height: 50px;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: auto;
}