table,
td,
th {
  border: 3px #0f1419 solid;
  border-collapse: collapse;
  /* color: red; */
  padding: 0.5rem;
}

table {
  margin: 2rem 0em 20px;
  table-layout: fixed;
}

th {
  background-color: #dcdcdc;
  font-weight: bold;
}

ul {
  padding-left: 20px;
}

h1 {
  border-bottom: solid;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

h2,
h3,
h4,
h5,
h6 {
  border-bottom: solid;
  border-bottom-width: 0.1rem;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}